$white: rgba(254, 255, 250, 1);
$grey: rgba(220, 231, 235, 1);
$red: rgba(255, 104, 115, 1);
$black: rgba(48, 69, 92, 0.8);
$sans: "Titillium Web", sans-serif;

.transition {
  transition: all 0.25s ease-in-out;
}

.no-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

jq-accord {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
  @extend ul;
  padding : 5px;
  box-sizing: border-box;
  jq-accord-head {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
    display: block;
  }
  jq-accord-section {
    display : list-item;
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted $grey;
    &:last-of-type {
      padding-bottom: 0;
    }
    &[closed]>jq-accord-pane {
        margin-top: 0;
        max-height: 0;
        height : 0;
        display : block;
        opacity: 0;
        transform: translate(0, 50%);
    }
    jq-accord-pane {
      /*
      color: $black;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 1px;
      position: relative;
      overflow: hidden;
      @extend .transition;
      opacity: 1;
      transform: translate(0, 0);
      margin-top: 14px;
      z-index: 2;
      */
    }

    &>jq-accord-title {
      font-size: 26px;
      line-height: 34px;
      font-weight: 300;
      letter-spacing: 1px;
      display: block;
      background-color: $white;
      margin: 0;
      cursor: pointer;
      @extend .no-select;
      jq-arrow {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        right: 0;
        &:before , &:after {
          content: "";
          @extend .transition;
          position: absolute;
          background-color: $red;
          width: 3px;
          height: 9px;
        }
        &:before {
          transform: translate(-2px, 0) rotate(45deg);
        }
        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }
      }
    }
    &[closed]>jq-accord-title>jq-arrow {
      &:before {
        transform: translate(2px, 0) rotate(45deg);
      }
      &:after {
        transform: translate(-2px, 0) rotate(-45deg);
      }
    }
  }
}